<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (pageTitle)">
    <title th:text="${pageTitle}">Trabalho</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with, initial-scale=1"/>
    <script src="https://kit.fontawesome.com/7b2987c773.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mystyles.css">
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation" th:fragment="header">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="/images/logo.png" width="201" height="105">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" style="font-size:20px">
        <div class="navbar-start has-text-weight-medium">
            <a class="navbar-item px-6">
                Home
            </a>

            <a class="navbar-item px-6">
                Pesquisas/Filtros
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link px-6">
                    Administração
                </a>

                <div class="navbar-dropdown" style="font-size:16px">
                    <a class="navbar-item">
                        Gestão de Permissões
                    </a>
                    <a class="navbar-item">
                        Adicionar Investigador
                    </a>
                    <a class="navbar-item">
                        Remover Investigador
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link px-6">
                    Perfil de Investigador
                </a>

                <div class="navbar-dropdown" style="font-size:16px">
                    <a class="navbar-item">
                        Dados Pessoais
                    </a>
                    <a class="navbar-item">
                        Atividades Científicas
                    </a>
                </div>
            </div>
            <a class="navbar-item px-6">
                Pedido Divulgação
            </a>
            <a class="navbar-item px-6">
                Relatório Anual
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button has-text-weight-medium" style="font-size: 20px">
                    <span style="color: #cc4b4b">Logout</span>
                    <span class="icon">
                        <i class="fas fa-sign-out-alt" style="color: #cc4b4b"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
<footer class="footer" th:fragment="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>


</body>
</html>
