<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head (pageTitle)">
    <title th:text="${pageTitle}">Trabalho</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with, initial-scale=1"/>
    <script src="https://kit.fontawesome.com/7b2987c773.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/mystyles.css">
</head>
<body>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation" th:fragment="header">
    <div class="navbar-brand">
        <a class="navbar-item py-0 px-5">
            <img src="/images/logo.png" width="201" height="105" alt="logo">
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu is-size-5">
        <div class="navbar-start has-text-weight-medium">
            <a class="navbar-item px-6">
                Página Inicial
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link px-6">
                    Administração
                </a>
                <div class="navbar-dropdown is-size-6">
                    <a class="navbar-item py-3">
                        Pesquisar Dados
                    </a>
                    <a class="navbar-item py-3">
                        Gerir Investigadores
                    </a>
                    <a class="navbar-item py-3">
                        Gerar Relatório Anual
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link px-6">
                    Investigador
                </a>
                <div class="navbar-dropdown is-size-6">
                    <a class="navbar-item py-3">
                        Consultar Dados Pessoais
                    </a>
                    <a class="navbar-item py-3">
                        Consultar Atividades Científicas
                    </a>
                    <a class="navbar-item py-3">
                        Criar Requisito de Divulgação
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <a class="button has-text-primary has-text-weight-medium is-size-5">
                    <span>Logout</span>
                    <span class="icon">
                        <i class="fas fa-sign-out-alt is-primary"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>
<footer class="footer" th:fragment="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
</body>
</html>