<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Gerir Investigadores')">
</head>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="section">
                <a class="button is-primary" th:href="@{/admin/personal-information-form}">
                    <span class="icon is-large"><i class="fas fa-user-plus"></i></span>
                    <span>Novo Investigador</span>
                </a>
            </div>
            <div class="notification is-warning">
                <strong> GERIR INVESTIGADORES EM CONSTRUÇÃO</strong>
            </div>
        </div>
    </div>
</section>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>