<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Gerir Investigadores')">
</head>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container is-fluid">
            <div class="container mb-5">
                <a class="button is-primary" th:href="@{/admin/add-researcher-form}">
                    <span class="icon is-large"><i class="fas fa-user-plus"></i></span>
                    <span>Novo Investigador</span>
                </a>
                <div class="notification is-success has-text-centered" th:if="${message}" th:text="${message}">
                    Message...
                </div>
            </div>

            <table class="table" th:if="${!researchers.isEmpty()}">
               <thead>
               <tr>
                   <th>Nome</th>
                   <th>CIÊNCIA ID</th>
                   <th>Email</th>
                   <th>Categoria de Investigador</th>
                   <th>Ações</th>
               </tr>
               </thead>
                <tbody>
                <tr th:each="researcher : ${researchers}">
                    <td th:text="*{researcher.name}">
                        <a th:href="@{'/admin/user/' + ${researcher.orcid}}">
                            <span class="fas fa-eye" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td th:text="*{researcher.cienciaId}"></td>
                    <td th:text="*{researcher.email}"></td>
                    <td th:text="*{researcher.researcherCategory}"></td>
                    <td>
                        <a th:href="@{'/admin/user/' + ${researcher.orcid}}">
                            <span class="fas fa-user" aria-hidden="true"></span>
                        </a>
                        &emsp;
                        <a th:href="@{'/admin/scientific-activities/' + ${researcher.orcid}}">
                            <span class="fas fa-list-alt" aria-hidden="true"></span>
                        </a>
                        &emsp;
                        <a th:href="@{'/admin/user/delete/' + ${researcher.orcid}}">
                            <span class="fas fa-times-circle" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>