<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Pesquisas')">
</head>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <a class="button is-medium is-dark" th:href="@{'/admin/export-excel-accept'}">
                <span class="icon pr-4"><i class="fas fa-file-excel"></i></span><span>Exportar</span>
            </a>
            <span class="divider"></span>

            <form th:action="@{/admin/researcher-search}" method="get">
                <div class="columns">
                    <div class="column">
                        <label for="activityType" class="has-text-primary">Tipo de Atividade</label><br>
                        <select name="activityType" id="activityType" class="select-width-100">
                            <option value="100">All</option>
                            <option value="0">Advanced Education</option>
                            <option value="1">Scientific Init of Young Students</option>
                            <option value="2">Publication</option>
                            <option value="3">Project</option>
                            <option value="4">Dissemination</option>
                        </select>
                    </div>
                    <div class="column is-flex is-flex-direction-column">
                        <span class="has-text-primary">Data</span>
                        <div class="is-flex is-flex-direction-row" style="margin-bottom: 0.5rem">
                            <label for="dateFrom" style="width: 2.5rem">De</label>
                            <input name="dateFrom" id="dateFrom" type="date" class="is-flex-grow-1" onchange="validateDates(this)"/>
                        </div>
                        <div class="is-flex is-flex-direction-row">
                            <label for="dateTo" style="width: 2.5rem">Até</label>
                            <input name="dateTo" id="dateTo" type="date" class="is-flex-grow-1" onchange="validateDates(this)"/>
                        </div>
                    </div>
                </div>
                <div class="is-flex is-flex-direction-row is-align-items-center">
                    <div style="margin-right: 2rem">
                        <label for="entries">Show</label>
                        <select name="entries" id="entries">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                        <span>entries</span>
                    </div>
                    <div class="is-flex is-flex-direction-row is-flex-grow-1">
                        <label for="search" style="margin-right: 1rem">Search:</label>
                        <input type="text" name="search" id="search" style="height: fit-content" class="is-flex-grow-1">
                    </div>
                    <div style="margin-left: 2rem">
                        <input type="submit" class="button is-medium is-dark is-fullwidth" value="Pesquisar">
                    </div>
                </div>
            </form>

            <span class="divider"></span>

            <table class="table select-width-100">
                <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Investigador</th>
                    <th>Título</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${!activities.isEmpty()}" th:each="activity : ${activities}">
                    <td th:text="*{activity.type}"></td>
                    <td class="authors" th:field="*{activity.researchers}"></td>
                    <td th:text="*{activity.title}"></td>
                    <td th:text="${#calendars.format(activity.date, 'dd/MM/yyyy')}"></td>
                    <td>
                        <div class="is-flex is-flex-direction-row is-justify-content-space-around">
                            <a th:href="@{'/admin/user/'}">
                                <span class="fas fa-user" aria-hidden="true"></span>
                            </a>
                            <a th:href="@{'/admin/scientific-activities/'}">
                                <span class="fas fa-list-alt" aria-hidden="true"></span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr th:if="${activities.isEmpty()}">
                    <td colspan="4">Sem resultados encontrados.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<div th:replace="layout/layout :: footer"></div>
<script>
    function validateDates(element) {
        let elemDateFrom = document.getElementById("dateFrom");
        let elemDateTo = document.getElementById("dateTo");

        let dateFrom = new Date(elemDateFrom.value);
        let dateTo = new Date(elemDateTo.value);

        if (elemDateFrom.value !== "" && elemDateTo.value !== "" && dateFrom > dateTo) {
            if (element.id === "dateFrom") {
                elemDateTo.value = elemDateFrom.value
            }
            else if (element.id === "dateTo") {
                elemDateFrom.value = elemDateTo.value
            }
        }
    }

    function summarizeAuthors() {
        let elements = document.getElementsByClassName("authors");

        for (const element of elements) {
            let text = element.getAttribute("field");
            let authors = text.split(";");

            element.textContent = authors[0];

            if (authors.length > 1) {
                let span = document.createElement("span");

                span.textContent = `+${authors.length - 1}`;
                span.className = "chip has-text-link-light has-background-link-dark";
                element.appendChild(span);
            }
        }
    }

    function initForm() {
        const params = new URLSearchParams(document.location.search);

        let elemActivityType = document.getElementById("activityType");
        let elemDateFrom = document.getElementById("dateFrom");
        let elemDateTo = document.getElementById("dateTo");
        let elemSearch = document.getElementById("search");

        elemActivityType.value = params.has("activityType") ? params.get("activityType") : 100;
        elemDateFrom.value = params.get("dateFrom");
        elemDateTo.value = params.get("dateTo");
        elemSearch.value = params.get("search");
    }

    initForm();
    summarizeAuthors();
</script>
</body>
</html>