<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Dados Pessoais')">
</head>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="box">
                <div class="columns">
                    <div class="column is-narrow ">
                        <figure class="image is-128x128">
                            <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>
                    </div>
                    <div class="column is-narrow-mobile">
                        <h1 class="title is-4 ">João Pedro Correia <span class="tag is-primary is-small">Administrador</span></h1>
                        <div>
                            <strong class="has-text-primary">Orcid ID: </strong><span>XXXX-XXXX-XXXX-XXXX</span>
                        </div>
                        <div>
                            <strong class="has-text-primary">Ciência ID: </strong><span>XXXX-XXXX-XXXX</span>
                        </div>
                        <div>
                            <strong class="has-text-primary">Chave Pública FCT: </strong><span>XXXX-XXXX-XXXX</span>
                        </div>
                        <div>
                            <strong class="has-text-primary">Chave Associação FCT: </strong><span>XXXX-XXXX-XXXX</span>
                        </div>
                    </div>
                    <div class="column is-narrow">
                        <a class="button is-primary is-outlined mt-4 mr-4" th:href="@{/personal-information-form}">
                            <span>Editar</span>
                            <span class="icon is-small"><i class="fas fa-edit"></i></span>
                        </a>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <strong class="has-text-primary">Email:</strong><br><span>exemplo@gmail.com</span>
                    </div>
                    <div class="column">
                        <strong class="has-text-primary">Utilizador</strong><br><span>utilizador1234</span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <strong class="has-text-primary">Origem</strong><br><span>origem</span>
                    </div>
                    <div class="column">
                        <strong class="has-text-primary">Telefone</strong><br><span>91X XXX XXX</span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <strong class="has-text-primary">Categoria</strong><br><span>categoria</span>
                    </div>
                    <div class="column">
                        <strong class="has-text-primary">Site CeiED</strong><br><span>https://www.ceied.exemplo.pt/pt/</span>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <strong class="has-text-primary">Situação Profissional</strong><br><span>Categorial Profissional</span>
                    </div>
                    <div class="column">
                        <strong class="has-text-primary">Ano Doutoramento</strong><br><span>YYYY</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div th:replace="layout/layout :: footer"></div>
</body>
</html>