<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Atividades Cientificas')">
</head>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>
        <div class="container">
            <section class="section is-medium pb-6">
                <div class="columns">
                    <div class="column">
                        <div class="title is-4">João Pedro Correia</div>
                        <div class="subtitle is-5">Investigador Doutorado</div>
                    </div>
                    <div class="column has-text-right-desktop">
                        <button class="button is-primary is-medium">
                            <span class="icon"><i class="fas fa-plus"></i></span>
                            <span>Criar Uma Nova Atividade Cientifica</span>
                        </button>
                    </div>
                </div>
            </section>

            <div class="title is-4 has-text-primary">Formação Avançada</div>
            <div class="box">
                EM CONSTRUÇÃO
            </div>
            <div class="title is-4 has-text-primary">Iniciação Científica de Jovens Estudantes</div>
            <div class="box">
                EM CONSTRUÇÃO
            </div>
            <div class="title is-4 has-text-primary">Produção Científica</div>
            <div class="box">
                EM CONSTRUÇÃO
            </div>
            <div class="title is-4 has-text-primary">Projetos</div>
            <div class="box">
                EM CONSTRUÇÃO
            </div>
            <div class="title is-4 has-text-primary">Disseminação</div>
            <div class="box">
                EM CONSTRUÇÃO
            </div>
        </div>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>