<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Atividades Cientificas')">
</head>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>
        <div class="container pb-6">
            <section class="section is-normal pb-6 px-1" th:object="${researcherInfo}">
                <div>
                    <div class="has-text-centered-mobile">
                        <div class="level-left">
                            <div class="level-item is-size-3" th:text="*{name}"></div>
                            <div class="level-item tag is-info is-small" th:if="*{isAdmin}">Administrador</div>
                        </div>
                        <div class="px-5 has-text-grey">
                            <div class="is-size-5" th:text="*{researcherCategory}">Investigador Doutorado</div>
                        </div>
                    </div>
                </div>
                <div class="has-text-right-desktop has-text-centered-mobile">
                    <button class="button is-primary">
                        <span class="icon"><i class="fas fa-plus"></i></span>
                        <span>Nova Atividade Cientifica</span>
                    </button>
                </div>
            </section>

            <div class="title is-4 has-text-primary">Formação Avançada</div>
            <div class="box is-size-5 has-text-grey">
                <div class="level">
                    <div class="level-left">
                        Orientação de Doutoramento
                    </div>
                    <div class="level-right">
                        <p class="level-item">06/2019</p>
                        <p class="level-item">|</p>
                        <p class="level-item"><a th:href="@{'/admin/user/'}">
                            <span class="fas fa-edit" aria-hidden="true"></span>
                        </a></p>
                        <p class="level-item"><a th:href="@{'/scientific-activity/delete/'}">
                            <span class="fas fa-times-circle" aria-hidden="true"></span>
                        </a></p>
                    </div>
                </div>

                <div class="divider is-right"></div>
                <div class="level">
                    <div class="level-left">
                        Realização de Pós-Doutoramento
                    </div>
                    <div class="level-right">
                        <p class="level-item">10/2018</p>
                        <p class="level-item">|</p>
                        <p class="level-item"><a th:href="@{'/admin/user/'}">
                            <span class="fas fa-edit" aria-hidden="true"></span>
                        </a></p>
                        <p class="level-item"><a th:href="@{'/scientific-activity/delete/'}">
                            <span class="fas fa-times-circle" aria-hidden="true"></span>
                        </a></p>
                    </div>
                </div>
                <div class="divider is-right"></div>
                <div class="level">
                    <div class="level-left">
                        Realização de Doutoramento
                    </div>
                    <div class="level-right">
                        <p class="level-item">01/2016</p>
                        <p class="level-item">|</p>
                        <p class="level-item"><a th:href="@{'/admin/user/'}">
                            <span class="fas fa-edit" aria-hidden="true"></span>
                        </a></p>
                        <p class="level-item"><a th:href="@{'/scientific-activity/delete/'}">
                            <span class="fas fa-times-circle" aria-hidden="true"></span>
                        </a></p>
                    </div>
                </div>
                <div class="divider is-right"></div>
                <div class="level">
                    <div class="level-left">
                        Realização de Provas de Agregação
                    </div>
                    <div class="level-right">
                        <p class="level-item">09/2014</p>
                        <p class="level-item">|</p>
                        <p class="level-item"><a th:href="@{'/admin/user/'}">
                            <span class="fas fa-edit" aria-hidden="true"></span>
                        </a></p>
                        <p class="level-item"><a th:href="@{'/scientific-activity/delete/'}">
                            <span class="fas fa-times-circle" aria-hidden="true"></span>
                        </a></p>
                    </div>
                </div>
            </div>
            <div class="title is-4 has-text-primary">Iniciação Científica de Jovens Estudantes</div>
            <div class="box is-size-5 has-text-grey">
                <div class="level">
                    <div class="level-left">
                        Orientação de Mestrado
                    </div>
                    <div class="level-right">
                        <p class="level-item">08/2017</p>
                        <p class="level-item">|</p>
                        <p class="level-item"><a th:href="@{'/admin/user/'}">
                            <span class="fas fa-edit" aria-hidden="true"></span>
                        </a></p>
                        <p class="level-item"><a th:href="@{'/scientific-activity/delete/'}">
                            <span class="fas fa-times-circle" aria-hidden="true"></span>
                        </a></p>
                    </div>
                </div>
            </div>
            <div class="title is-4 has-text-primary">Produção Científica</div>
            <div class="box is-size-5 has-text-grey">
                <div class="level">
                    <div class="level-left">
                        Artigo em Revista Científica Nacional
                    </div>
                    <div class="level-right">
                        <p class="level-item">04/2017</p>
                        <p class="level-item">|</p>
                        <p class="level-item"><a th:href="@{'/admin/user/'}">
                            <span class="fas fa-edit" aria-hidden="true"></span>
                        </a></p>
                        <p class="level-item"><a th:href="@{'/scientific-activity/delete/'}">
                            <span class="fas fa-times-circle" aria-hidden="true"></span>
                        </a></p>
                    </div>
                </div>
                <div class="divider is-right"></div>
                <div class="level">
                    <div class="level-left">
                        Capítulos de Livros
                    </div>
                    <div class="level-right">
                        <p class="level-item">11/2016</p>
                        <p class="level-item">|</p>
                        <p class="level-item"><a th:href="@{'/admin/user/'}">
                            <span class="fas fa-edit" aria-hidden="true"></span>
                        </a></p>
                        <p class="level-item"><a th:href="@{'/scientific-activity/delete/'}">
                            <span class="fas fa-times-circle" aria-hidden="true"></span>
                        </a></p>
                    </div>
                </div>
            </div>
            <div class="title is-4 has-text-primary">Projetos</div>
            <div class="box is-size-5 has-text-grey">
                EM CONSTRUÇÃO
            </div>
            <div class="title is-4 has-text-primary">Disseminação</div>
            <div class="box is-size-5 has-text-grey">
                <div th:if="${#arrays.length(disseminations)} == 0">
                    <div class="notification is-warning mx-3">
                        Sem Disseminações!
                    </div>
                </div>
                <div th:each="dissemination,disseminationStat : ${disseminations}">
                    <div class="level">
                        <div class="level-left" th:text="*{dissemination.title}"></div>
                        <div class="level-right">
                            <p class="level-item" th:text="*{#dates.format(dissemination.date, 'dd/MM/yyyy')}"></p>
                            <p class="level-item">|</p>
                            <p class="level-item">
                                <a th:href="@{'/admin/user/'}">
                                    <span class="fas fa-edit" aria-hidden="true"></span>
                                </a>
                            </p>
                            <p class="level-item">
                                <a th:href="@{'/admin/dissemination/delete/' + *{dissemination.id}}">
                                    <span class="fas fa-times-circle" aria-hidden="true"></span>
                                </a>
                            </p>
                        </div>
                    </div>
                    <div class="divider is-right" th:if="!*{disseminationStat.last}"></div>
                </div>
            </div>
        </div>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>