<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Formulário de Disseminação')">
</head>
<script src="/js/bulma-calendar.js"></script>
<script src="/js/myscripts.js"></script>
<body class="has-navbar-fixed-top">
<div th:replace="layout/layout :: header"></div>
<section class="hero py-6">
  <div class="hero-body">
    Nova Disseminação
    <form class="container"
          th:object="${disseminationForm}"
          method="post"
          th:action="@{'/admin/' + ${orcid} + '/dissemination-form'}">
      <div class="field">
        <div class="columns">
          <div class="column">
            <label class="label" for="title">Título</label>
            <div class="control has-icons-left">
              <input class="input"
                     id="title"
                     type="text"
                     placeholder="Título"
                     th:field="*{title}">
              <p class="help is-danger" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</p>
              <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
            </div>
          </div>
          <div class="column">
            <label class="label" for="date">Data</label>
            <div class="control has-icons-left">
              <input class="input"
                     id="date"
                     type="date"
                     placeholder="Data"
                     th:field="*{date}">
              <p class="help is-danger" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Error</p>
              <span class="icon is-small is-left"><i class="fas fa-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="columns">
          <div class="column">
            <label class="label" for="descriptor">Descritor</label>
            <div class="control is-expanded has-icons-left">
              <input class="input"
                     id="descriptor"
                     type="text"
                     placeholder="Descritor"
                     th:field="*{descriptor}">
              <p class="help is-danger" th:if="${#fields.hasErrors('descriptor')}" th:errors="*{descriptor}">Error</p>
              <span class="icon is-small is-left"><i class="fas fa-heading"></i></span>
            </div>
          </div>
        </div>
      </div>
      <div class="container has-text-centered pt-6" >
        <button class="button is-medium is-primary" type="submit" value="Gravar">Criar Investigador</button>
      </div>
    </form>
  </div>
</section>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>