<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Listagem de utilizadores')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h3>Nome completo</h3>
            <p th:text="${fullName}" />
            <br/>
            <h3>Artigo</h3>
            <p th:text="${article}" />
        </div>
    </div>
</section>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>