<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head (pageTitle='Listagem de utilizadores')">
</head>
<body>
<div th:replace="layout/layout :: header"></div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <h3>Nome completo</h3>
            <p th:text="${fullName}" />
            <br/>
            <h3>Artigos em Revista</h3>
            <p th:text="${article}" />
            <br/>
            <h4>Evento</h4>
            <br/>
            <h2>Tipo</h2>
            <p th:text="${event_type}"></p>
            <br/>
            <h2>Nome</h2>
            <p th:text="${event_name}"></p>
            <br/>
            <h2>Descrição</h2>
            <p th:text="${event_description}"></p>
            <br/>
            <h2>Data</h2>
            <p th:text="${event_date}"></p>
            <br/>
        </div>
    </div>
</section>
<div th:replace="layout/layout :: footer"></div>
</body>
</html>